.trading-content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(45, 45, 45, 0.8); /* semi-transparent black */
    padding: 20px;
    border-radius: 10px;
     color: rgb(254, 115, 115);
}

.trading-btn {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0);
     color: rgb(255, 255, 255);
    font-weight: 600;
}

.trading-btn:hover {
    transform: translateY(-2px);
     background-color: rgb(94, 127, 127);
     color: aliceblue;
}
 